<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.min.css' />
  <link rel="stylesheet" href="/materialize-src/sass/materialize.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <!--   THIS IS THE MATERIALIZE CDN
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  -->
  </head>
  <body>
  <section class="homePage">
    <div class="center-align">
      <h1 class="center-align">CHINGU</h1>
      <h5 class="center-align">FCC Cohorts</h5>
      <a class="waves-effect waves-light btn-large joinBtn">Join<i class="material-icons right">perm_identity</i></a>
        <video autoplay loop>
          <source src="/images/Spacious/MP4/Spacious.mp4" type="video/mp4">
          <source src="/images/Spacious/OGV/Spacious.ogv" type="video/ogv">
            Your browser doesn't support the video tag.
        </video>
    </div>
  </section>
  <section>
      <div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey lighten-1">
            <div class="card-content white-text">
              <span class="card-title">Card</span>
              <p>This is where the content of a card goes.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card blue-grey lighten-1">
            <div class="card-content white-text">
              <span class="card-title">2nd Card</span>
              <p>This is where the content of a card goes.</p>
              <div class="card-action">
                <a href="#">Link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <div class="card">
              <div class="card-image">
                <image src="/images/mountains.jpg"></image>
                <span class="card-title white-text">Mountains</span>
                <div class="card-content">
                  <p>
                    These are the Monte Dule Mountains in Central Italy.
                  </p>
                </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card horizontal">
            <div class="card-image">
              <image src="/images/summer.jpg"></image>
            </div>
            <div class="card-stacked">
                <div class="card-content">
                  <p>Here's the content on a horizontal card.</p>
                </div>
                <div class="card-action">
                  <a href="#">Link</a>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <image class="activator" src="/images/office.jpg"></image>
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-3">Card Title</span>
              <i class="material-icons right">more_vert</i>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-3">Card Topper</span>
              <i class="material-icons right">close</i>
              <p>This is content about offices.</p>
            </div>
          </div>
        </div>
        <div class="col s12 m6">
          <div class="card-panel teal darken-3">
            <div class="card-content white-text">
              <p>This is a basic card panel.</p>
            </div>
          </div>
        </div>
      </div>
  </section>
  <section>
    <div class="divider"></div>
    <div class="section">
      <h3>Section 1</h3>
      <p>Content</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h3>Section 2</h3>
      <p>Content</p>
    </div>
    <div class="divider"></div>
    <div class="section">
      <h3>Section 3</h3>
      <p>Content</p>
    </div>
</section>
<section>
    <div class="row">
      <div class="col s4">
        <h5>Friends</h5>
      </div>
      <div class="col s4">
        <h5>Knowledge</h5>
      </div>
      <div class="col s4">
        <h5>Practice</h5>
      </div>
      </div>

  <div class="testing">
    <a class="btn waves-effect waves-light"><i class="material-icons left ">cloud</i>Testing</a>
    <a class="btn waves-effect waves-light"><i class="material-icons right ">cloud</i>Testing</a>
    <i class="material-icons left small">cloud</i>
    <i class="material-icons left medium">cloud</i>
    <i class="material-icons left large">cloud</i>
     <a class="btn-floating btn-large waves-effect waves-light red right"><i class="material-icons">add</i></a>
  </div>
  </section>
  <section>
    <div class="card-panel teal lighten-2">This is a card panel with a teal lighten-2 class</div>
    <div class="card-panel teal darken-2 blue-text text-lighten-2">This is a card panel with a teal darken-2 class</div>
    <div class="card-panel teal accent-2">This is a card panel with a teal accent-2 class</div>
</section>
  </body>




  <!-- Compiled and minified JavaScript -->
  <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>
  <script src="/materialize-src/js/bin/materialize.min.js"></script>
</html>
