<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.min.css' />
  <link rel="stylesheet" href="/materialize-src/sass/materialize.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <!--   THIS IS THE MATERIALIZE CDN
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  -->
  </head>
  <body>
    <div class="container">
      <h1><%= title %></h1>
      <div class="fixed-action-button">
        <a class="btn-floating btn-large right red"><i class="material-icons">add</i></a>
      </div>
      <hr />
      <video width="100%" heigth="500" autoplay loop>
        <source src="/images/Working-Space/MP4/Working-Space.mp4" type="video/mp4">
        <source src="/images/Working-Space/OGV/Working-Space.ogv" type="video/ogv">
          Your browser doesn't support the video tag.
      </video>
    <div class="divider"></div>
    <div class="section">
      <h3>Section 1</h3>
      <p>Content</p>
    </div>
    <div class="row">
      <div class="col s4">
        <h5>Friends</h5>
      </div>
      <div class="col s4">
        <h5>Knowledge</h5>
      </div>
      <div class="col s4">
        <h5>Practice</h5>
      </div>
      <div class="row">
        <div class="col s1 blocks red lighten-1">1</div>
        <div class="col s1 blocks red lighten-1">1</div>
        <div class="col s1 blocks red lighten-1">1</div>
        <div class="col s1 blocks">1</div>
        <div class="col s1 blocks">1</div>
        <div class="col s1 blocks">1</div>
        <div class="col s1 blocks">1</div>
        <div class="col s1 blocks">1</div>
        <div class="col s1 blocks">1</div>
        <div class="col s1 blocks">1</div>
        <div class="col s1 blocks">1</div>
        <div class="col s1 blocks">1</div>
      </div>
    </div>
    <div class="testing">
    <a class="btn waves-effect waves-light"><i class="material-icons left ">cloud</i>Testing</a>
    <a class="btn waves-effect waves-light"><i class="material-icons right ">cloud</i>Testing</a>
    <i class="material-icons left small">cloud</i>
    <i class="material-icons left medium">cloud</i>
    <i class="material-icons left large">cloud</i>
     <a class="btn-floating btn-large waves-effect waves-light red right"><i class="material-icons">add</i></a>
  </div>
    <div class="card-panel teal lighten-2">This is a card panel with a teal lighten-2 class</div>
    <div class="card-panel teal darken-2 blue-text text-lighten-2">This is a card panel with a teal darken-2 class</div>
    <div class="card-panel teal accent-2">This is a card panel with a teal accent-2 class</div>
  </div>

  </body>




  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</html>
